.aboutMe {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.aboutLnContainer {
    margin: 5vh;
    width: 100%;
}


.lineP {
    font-family: var(--font-mono);
    color: var(--text-secondary);
    font-size: var(--fs-mono-lg);
}

.line {
    width: 100%;
    height: 1px;
    background: var(--accent-dark);
}

.aboutMain {
    max-width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutPContainer {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;

}

.scndLine {
    width: 30%;
    border: 1px solid var(--accent);
    margin: 5%;
}

.aboutP {
    width: 100%;
    letter-spacing: 0.1em;
    line-height: 1.3;
    word-spacing: 8px;
}

.aboutStackDiv {

    width: 30%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 1px solid black; */
}

.resumeContainer {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.gitA {
    cursor: pointer;
    
}

.resumeA {
    width: 32%;
    height: 72%;
    border: 1px solid var(--accent);
    padding: 4px;
    text-align: center;
    font-family: var(--font-mono);
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
}

.resumeA:hover {
    color: var(--text-muted);
    border: 1px solid var(--accent-dark);

}

.resumeA:active {
    color: var(--accent);
    background-color: var(--accent-dark);
    box-shadow: 4px solid var(--accent-dark);
}