.headerA {
    cursor: pointer;
    padding: 2px;
    user-select: none;
    font-family: var(--font-mono);
    color: var(--text-secondary);
    transition: all 0.5s;
}

.headerA:hover {
    color: var(--text-muted);
    border-bottom: 1px solid var(--accent);

}

.headerA:active {
    color: var(--accent-dark);
    border: none;
}